:root {
    --dark: #111311;
    --light: #dee0de;
    --font: 'yoon-px-pixelbatang', monospace;
    --title: "pf-pixelscript", monospace;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    image-rendering: pixelated;
  }
  
  img {
    max-width: 100%;
  }
  
  body::selection {
    background: var(--dark);
    color: var(--light);
  }
  
  body {
    margin: 0;
    padding: 50px 0;
    background: var(--light);
    color: var(--dark);
    font-family: var(--font);
    text-rendering: geometricPrecision;
    font-smooth: never;
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    align-content: center;
  }
  
  .wrapper {
    max-width: 900px;
    width: calc(100% - 40px);
    margin: 0 auto;
    background: var(--dark);
    color: var(--light);
    padding: 1em 2em;
    position: relative;
    z-index: 8;
  }
  
  .wrapper::selection,
  .wrapper *::selection {
    background: var(--light);
    color: var(--dark);
  }
  
  .wrapper::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: var(--dark);
    z-index: -1;
    filter: url("#disFilter");
    animation: flips 0.35s steps(2) infinite;
  }
  
  @keyframes flips {
    0% {
      transform: rotate(0deg) rotatey(360deg)
      translatex(-2px);
    }
    100% {
      transform: rotate(0deg) rotatey(0deg);
    }
  }
  
  footer svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  h1, h2, h3 {
    margin: 0.5em 0;
    font-family: var(--title);
    font-weight: normal;
  }
  
  p:first-of-type {
    text-indent: 3em;
  }
  
  p {
    margin: 0 0 1em 0;
    text-align: justify;
  }
  
  .intro-grid {
    display: grid;
    grid-template-columns: 66% 30%;
    grid-gap: 4%;
  }
  
  .intro-grid > div {
    display: grid;
    align-content: center;
  }
  
  .wrapper .intro-char {
    align-content: end;
  }
  
  .intro-char img {
    margin: 0 auto;
    margin-bottom: -1.5em;
    display: block;
  }
  
  a {
    color: inherit;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  nav a {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.25;
    padding: 0.5em;
    margin: 2px;
  }
  
  nav a:hover {
    background: var(--light);
    color: var(--dark);
  }
  
  nav .button {
    border: 1px solid var(--light);
  }
  
  @media (max-width: 600px) {
    .intro-grid {
      grid-template-columns: 100%;
    }
    .intro-char img {
      width: 250px;
    }
  }